.container-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
} 

.card {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card > h3 {
  text-transform: capitalize;
}

.card img {
  object-fit: cover;
  width: 90%;
  display: block;
  margin: 0 auto;
  border-radius: 1.5rem;
}

.buttons-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}